@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
nav ul li a{
    --bs-dropdown-link-hover-bg: var(--bs-dark);
}
.form-control:focus {
        border-color: #a73b28;
        box-shadow: 0 0 0 0.2rem rgba(253, 0, 0, 0.418);
    } 

.color-agua {
    background-color: #30A7D7;
}

.btn-color-agua {
    background-color: #30A7D7;
}
.btn-color-agua:hover {
    background-color: #278bb3;
}

.btn-color-planta {
    background-color: #9BCC50;
}
.btn-color-planta:hover {
    background-color: #80aa41;
}

.btn-color-electrico {
    background-color: #EED535;
}
.btn-color-electrico:hover {
    background-color: #c2ae2c;
}
